/* Shared CSS */
*{
    font-family: 'Mulish', sans-serif;
}
.primary-color{
    color: #131318;
}
.orange-color{
    color: #FF5400;
}
section{
    margin: 50px 130px;
}
/* Header CSS */
header{
    margin: 0 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    gap: 20px;
    align-items: center;
}
.logo h4{
    font-size: 36px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 44px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: #424247;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
}
nav ul li a:hover{
    color: #FF5400;
    cursor: pointer;
}

/* Main section CSS */
.banner{
    border-radius: 16px;
    background-image: url('../img/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content{
    padding: 120px 0;
    text-align: center;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}
.banner-title{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 0;
}
.banner-description{
    margin: 25px 0 50px;
    padding: 0 200px;
    color: #FFF;
    font-size: 16px;
}
.banner-box{
    padding: 15px 25px;
    display: inline-flex;
    gap: 24px;
    align-items: flex-start;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.box-btn{
    padding: 0 20px;
    border-radius: 8px;
    background: #FFF;
    cursor: pointer;
}
.find-btn,
.btn-read{
    padding: 14px 20px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

/* Popular Tour CSS */

.popular-container{
    display: flex;
    gap: 100px;
}
.popular-title{
    margin: 0;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.popular-description{
    margin-top: 24px;
    color: rgba(19, 19, 24, 0.70);
    line-height: 26px;
}
.popular-content ul li{
    color: rgba(19, 19, 24, 0.70);
    line-height: 26px;
}


/* Media Query */

/* Mobile device */
@media screen and (max-width: 576px) {
    section{
        margin: 0px;
    }
    header{
        margin: 20px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .logo {
        display: flex;
        gap: 10px;
    }
    nav ul{
        display: none;
    }

    /* Banner CSS */

    .banner-content{
        padding: 30px 0;
    }
    .banner-title{
        font-size: 28px;
    }
    .banner-description{
        padding: 0 20px;
    }
    .banner-box{
        margin: 10px;
        padding: 15px 25px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .find-btn{
        width: 100%;
    }

    /* Popular section */
    .popular-container{
        grid-template-columns: 1fr;
        display: grid;
    }
    .popular-title{
        margin-top: 30px;
        font-size: 28px;
        text-align: center;
    }
    .popular-content-img img{
        width: 100%;
    }
}