/* Shared CSS */
*{
    font-family: 'Mulish', sans-serif;
}
.primary-color{
    color: #131318;
}
.orange-color{
    color: #FF5400;
}
section{
    margin: 70px 130px;
}
.common-title{
    margin: 0;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.common-description{
    margin-top: 24px;
    color: rgba(19, 19, 24, 0.70);
    line-height: 26px;
    text-align: center;
}
/* Header CSS */
header{
    margin: 0 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    gap: 20px;
    align-items: center;
}
.logo h4{
    font-size: 36px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 44px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: #424247;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
}
nav ul li a:hover{
    color: #FF5400;
    cursor: pointer;
}

/* Main section CSS */
.banner{
    border-radius: 16px;
    background-image: url('../img/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content{
    padding: 120px 0;
    text-align: center;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}
.banner-title{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 0;
}
.banner-description{
    margin: 25px 0 50px;
    padding: 0 200px;
    color: #FFF;
    font-size: 16px;
}
.banner-box{
    padding: 15px 25px;
    display: inline-flex;
    gap: 24px;
    align-items: flex-start;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.box-btn{
    padding: 0 20px;
    border-radius: 8px;
    background: #FFF;
    cursor: pointer;
}
.find-btn,
.btn-read{
    padding: 14px 20px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}
.find-btn:hover,
.btn-read:hover{
    cursor: pointer;
}

/* Popular Tour CSS */

.popular-container{
    display: flex;
    gap: 100px;
}
.popular-title{
    text-align: left;
}
.popular-description{
    text-align: left;
}
.popular-content ul li{
    color: rgba(19, 19, 24, 0.70);
    line-height: 26px;
}

/* Destination CSS */
.destination-title{
    text-align: center;
}
.destination-description{
    padding: 0 200px;
    text-align: center;
}


/* Why us CSS */
.why-us-title{
    text-align: center;
}
.why-us-description{
    text-align: center;
    padding: 0 200px;
}
.why-us-body-content{
    display: flex;
    gap: 25px;
}
.why-us-box{
    margin-top: 50px;
    padding: 35px 55px 35px 35px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.box-2{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.box-3{
    margin: 50px auto;
    width: 50%;
}
.why-us-box-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.why-us-box-description {
    text-align: left;
}

/* Deals and Discount CSS */
.deals-content-description{
    padding: 0 200px;
}


/* Perfect Place CSS */
.p-place-container{
    display: flex;
    gap: 100px;
}
.p-place-title{
    text-align: left;
}
.p-place-description{
    color: #5a5a5d;
    text-align: left;
}
.p-place-content ul li{
    margin-bottom: 20px;
    color: #131318;
    font-weight: 700;
    line-height: 26px;
}
.p-place-content-img{
    padding: 150px;
    border-radius: 16px;
    background-image: url(../img/perfect.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
.p-place-content-img-content{
    border-radius: 16px;
    /* background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%); */
}
.p-place-content-img-content-h3{
    width: 300px;
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
}


/* Media Query */

/* Mobile device */
@media screen and (max-width: 576px) {
    section{
        margin: 0px;
    }
    .common-title{
        margin-top: 30px;
        font-size: 26px;
        text-align: center;
    }
    header{
        margin: 20px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .logo {
        display: flex;
        gap: 10px;
    }
    nav ul{
        display: none;
    }

    /* Banner CSS */

    .banner-content{
        padding: 30px 0;
    }
    .banner-title{
        font-size: 28px;
    }
    .banner-description,
    .common-description{
        padding: 0 20px;
    }
    .banner-box{
        margin: 10px;
        padding: 15px 25px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .find-btn{
        width: 100%;
    }

    /* Popular section */
    .popular-container,
    .p-place-container{
        padding: 20px;
        grid-template-columns: 1fr;
        display: grid;
    }
    .popular-content-img img
    {
        width: 100%;
    }

    /* Destination CSS */

    /* Why choose CSS */
    .why-us-body-content{
        display: grid;
        grid-template-columns: 1fr;
    }
    .box-3{
        margin-top: 10px;
        width: auto;
    }
    .why-us-box{
        margin-top: 20px;
        padding: 20px 0 20px 20px;
    }
    .why-us-box-description{
        padding: 0 10px 0 0;
    }

    /* Perfect Place */
    .p-place-content-img{
        padding: 150px 0;
    }

}